body {
  background: #0b0b0b;
  color: #eaeaea;
  font-family: system-ui;
  line-height: 1.7;
  margin: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

/* Hide vertical scrollbar */
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}


.header {
  text-align: center;
  padding: 50px;
  background: #111;
}
.avatar {
  width: 140px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.role {
  color: #7dffb3;
}
.section {
  max-width: 900px;
  margin: 50px auto;
  padding: 0 20px;
}
.footer {
  text-align: center;
  padding: 30px;
  color: #777;
  border-top: 1px solid #222;
}
/* ===== FOOTER ===== */
.footer{
  margin-top:80px;
  padding:60px 20px 30px;
  background:#0e0e0e;
  color:#ccc;
}

.footer-line{
  width:120px;
  height:4px;
  background:#4cff8f;
  margin:0 auto 40px;
  border-radius:10px;
  box-shadow:0 0 20px rgba(76,255,143,0.8);
  animation:glow 2.5s infinite alternate;
}

@keyframes glow{
  from{opacity:.6}
  to{opacity:1}
}

.footer-grid{
  max-width:1100px;
  margin:auto;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
}

.footer-box h3{
  margin-bottom:15px;
  color:#4cff8f;
}

.footer-box p{
  font-size:14px;
  line-height:1.6;
  margin-bottom:8px;
}

.footer-bottom{
  margin-top:40px;
  text-align:center;
  border-top:1px solid #222;
  padding-top:20px;
}

.footer-bottom p{
  color:#9ef5c2;
}

.footer-bottom small{
  display:block;
  margin-top:6px;
  color:#777;
}

.copyright{
  margin-top:10px;
  font-size:13px;
  color:#555;
}

/* Mobile */
@media(max-width:600px){
  .footer{
    text-align:center;
  }
}
